@{
    ViewData["Title"] = "Home ";
}

<h3 id="recordsTitle"></h3>

<div id="tableContainer" class="panel panel-inverse">
    <div id="dataEscolhida" class="panel-heading">
        <h4 class="panel-title" style="width: 100% !important;">Sistema de Mapeamento para Atendimento e Projeto</h4>
    </div>


    <div class="panel-body" style="width: 100% !important;">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 
            survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was 
            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</div>
