@{
  ViewData["Title"] = "404 Error Page";
  ViewData["PageWithoutContainer"] = "true";
  ViewData["PageWithoutHeader"] = "true";
  ViewData["PageWithoutSidebar"] = "true";
  ViewData["BodyClass"] = "pace-top";
}

<!-- begin error -->
<div class="error">
	<div class="error-code">404</div>
	<div class="error-content">
		<div class="error-message">Não foi possível encontrar essa página</div>
		<div class="error-desc mb-3 mb-sm-4 mb-md-5">
			Essa página que você procura não existe. <br />
			Talvez essas páginas ajudem a encontrar o que você está procurando.
		</div>
		<div>
			<a href="/dashboard" class="btn btn-success p-l-20 p-r-20">Página inicial</a>
		</div>
	</div>
</div>
<!-- end error -->